openapi: 3.1.0
info:
  title: MQTT API
  description: ""
  license:
    name: ""
  version: "1.0"
servers:
  - url: https://api.mqtt.tobi.tintuc.de
    description: Production server
paths:
  /categories:
    get:
      tags:
        - Categories
      operationId: get_categories
      responses:
        "200":
          description: Returns a list of categories
          content:
            application/json:
              schema:
                type: object
                title: Categories
                required:
                  - categories
                properties:
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/CategoryDto"
    post:
      tags:
        - Categories
      operationId: post_categories
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CreateCategory
              required:
                - name
              properties:
                name:
                  type: string
        required: true
      responses:
        "201":
          description: Creates a new category and returns it
          content:
            application/json:
              schema:
                type: object
                title: Category
                required:
                  - id
                  - name
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
  /categories/{categoryId}:
    get:
      tags:
        - Categories
      operationId: get_category
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Returns the category
          content:
            application/json:
              schema:
                type: object
                title: Category
                required:
                  - id
                  - name
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
    delete:
      tags:
        - Categories
      operationId: delete_category
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deletes the category
    patch:
      tags:
        - Categories
      operationId: patch_category
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: ModifyCategory
              properties:
                name:
                  type:
                    - string
                    - "null"
              maxProperties: 1
        required: true
      responses:
        "200":
          description: Modifies the category and returns it
          content:
            application/json:
              schema:
                type: object
                title: Category
                required:
                  - id
                  - name
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
  /categories/{categoryId}/nodes:
    get:
      tags:
        - Nodes
      operationId: get_nodes
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Returns a list of nodes in a category
          content:
            application/json:
              schema:
                type: object
                title: Nodes
                required:
                  - nodes
                properties:
                  nodes:
                    type: array
                    items:
                      $ref: "#/components/schemas/NodeDto"
    post:
      tags:
        - Nodes
      operationId: post_nodes
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CreateNode
              required:
                - name
                - topicId
              properties:
                name:
                  type: string
                topicId:
                  type: string
                  format: uuid
        required: true
      responses:
        "201":
          description: Creates a new node and returns it
          content:
            application/json:
              schema:
                type: object
                title: Node
                required:
                  - categoryId
                  - id
                  - name
                  - topicId
                properties:
                  categoryId:
                    type: string
                    format: uuid
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  topicId:
                    type: string
                    format: uuid
  /categories/{categoryId}/nodes/{nodeId}:
    get:
      tags:
        - Nodes
      operationId: get_node
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
        - name: nodeId
          in: path
          description: Node id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Returns the node
          content:
            application/json:
              schema:
                type: object
                title: Node
                required:
                  - categoryId
                  - id
                  - name
                  - topicId
                properties:
                  categoryId:
                    type: string
                    format: uuid
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  topicId:
                    type: string
                    format: uuid
    put:
      tags:
        - Nodes
      operationId: put_node
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
        - name: nodeId
          in: path
          description: Node id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: MoveNode
              required:
                - categoryId
              properties:
                categoryId:
                  type: string
                  format: uuid
        required: true
      responses:
        "200":
          description: Moves the node to a new category and returns it
          content:
            application/json:
              schema:
                type: object
                title: Node
                required:
                  - categoryId
                  - id
                  - name
                  - topicId
                properties:
                  categoryId:
                    type: string
                    format: uuid
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  topicId:
                    type: string
                    format: uuid
    delete:
      tags:
        - Nodes
      operationId: delete_node
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
        - name: nodeId
          in: path
          description: Node id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deletes the node
    patch:
      tags:
        - Nodes
      operationId: patch_node
      parameters:
        - name: categoryId
          in: path
          description: Category id
          required: true
          schema:
            type: string
            format: uuid
        - name: nodeId
          in: path
          description: Node id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: ModifyNode
              properties:
                name:
                  type:
                    - string
                    - "null"
                topicId:
                  type:
                    - string
                    - "null"
                  format: uuid
              maxProperties: 1
        required: true
      responses:
        "200":
          description: Modifies the node and returns it
          content:
            application/json:
              schema:
                type: object
                title: Node
                required:
                  - categoryId
                  - id
                  - name
                  - topicId
                properties:
                  categoryId:
                    type: string
                    format: uuid
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  topicId:
                    type: string
                    format: uuid
  /health:
    get:
      tags:
        - Health
      operationId: get_health
      responses:
        "200":
          description: Returns the health of the service
          content:
            application/json:
              schema:
                type: object
                title: Health
                required:
                  - status
                properties:
                  status:
                    type: string
  /mqtt/status:
    get:
      tags:
        - MQTT
      operationId: get_status
      responses:
        "200":
          description: Returns the status of the MQTT connection
          content:
            application/json:
              schema:
                type: object
                title: MqttStatus
                required:
                  - connected
                properties:
                  connected:
                    type: boolean
  /topics:
    get:
      tags:
        - Topics
      operationId: get_topics
      responses:
        "200":
          description: Returns a list of topics
          content:
            application/json:
              schema:
                type: object
                title: Topics
                required:
                  - topics
                properties:
                  topics:
                    type: array
                    items:
                      $ref: "#/components/schemas/TopicDto"
    post:
      tags:
        - Topics
      operationId: post_topics
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: CreateTopic
              required:
                - mqttTopic
              properties:
                mqttTopic:
                  type: string
                name:
                  type:
                    - string
                    - "null"
        required: true
      responses:
        "201":
          description: Creates a new topic and returns it
          content:
            application/json:
              schema:
                type: object
                title: Topic
                required:
                  - id
                  - mqttTopic
                properties:
                  id:
                    type: string
                    format: uuid
                  mqttTopic:
                    type: string
                  name:
                    type:
                      - string
                      - "null"
  /topics/{topicId}:
    get:
      tags:
        - Topics
      operationId: get_topic
      parameters:
        - name: topicId
          in: path
          description: Topic id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Returns the topic
          content:
            application/json:
              schema:
                type: object
                title: Topic
                required:
                  - id
                  - mqttTopic
                properties:
                  id:
                    type: string
                    format: uuid
                  mqttTopic:
                    type: string
                  name:
                    type:
                      - string
                      - "null"
    delete:
      tags:
        - Topics
      operationId: delete_topic
      parameters:
        - name: topicId
          in: path
          description: Topic id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deletes the topic
    patch:
      tags:
        - Topics
      operationId: patch_topic
      parameters:
        - name: topicId
          in: path
          description: Topic id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: ModifyTopic
              description: Optional name field! If the name field is omitted, the existing
                name remains unchanged. If the name field is explicitly null,
                the name is cleared (unset). If a string value is provided, the
                name is updated to that value.
              properties:
                mqttTopic:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
              maxProperties: 1
        required: true
      responses:
        "200":
          description: Modifies the topic and returns it
          content:
            application/json:
              schema:
                type: object
                title: Topic
                required:
                  - id
                  - mqttTopic
                properties:
                  id:
                    type: string
                    format: uuid
                  mqttTopic:
                    type: string
                  name:
                    type:
                      - string
                      - "null"
  /topics/{topicId}/values:
    get:
      tags:
        - Values
      operationId: get_values
      parameters:
        - name: topicId
          in: path
          description: Topic id
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Limit of values to return. Minimum = 1, Maximum = 500 and Default =
            100.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: before
          in: query
          description: Get values before this value. If neither before nor after are
            provided, the latest values are returned. If both before and after
            are provided, before takes precedence.
          required: false
          schema:
            type: string
            format: uuid
        - name: after
          in: query
          description: Get values after this value.
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Returns a list of values in a topic
          content:
            application/json:
              schema:
                type: object
                title: Values
                required:
                  - values
                properties:
                  values:
                    type: array
                    items:
                      $ref: "#/components/schemas/ValueDto"
  /topics/{topicId}/values/{valueId}:
    get:
      tags:
        - Values
      operationId: get_value
      parameters:
        - name: topicId
          in: path
          description: Topic id
          required: true
          schema:
            type: string
            format: uuid
        - name: valueId
          in: path
          description: Value id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Returns the value
          content:
            application/json:
              schema:
                type: object
                title: Value
                required:
                  - topicId
                  - id
                  - value
                  - createdAt
                properties:
                  createdAt:
                    type: string
                    format: date-time
                  id:
                    type: string
                    format: uuid
                  topicId:
                    type: string
                    format: uuid
                  value:
                    type: string
  /ws:
    get:
      tags:
        - WebSocket
      operationId: get_ws
      responses:
        "101":
          description: Upgrade to a WebSocket connection
components:
  schemas:
    CategoriesDto:
      type: object
      title: Categories
      required:
        - categories
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryDto"
    CategoryDto:
      type: object
      title: Category
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    CreateCategoryDto:
      type: object
      title: CreateCategory
      required:
        - name
      properties:
        name:
          type: string
    CreateNodeDto:
      type: object
      title: CreateNode
      required:
        - name
        - topicId
      properties:
        name:
          type: string
        topicId:
          type: string
          format: uuid
    CreateTopicDto:
      type: object
      title: CreateTopic
      required:
        - mqttTopic
      properties:
        mqttTopic:
          type: string
        name:
          type:
            - string
            - "null"
    HealthDto:
      type: object
      title: Health
      required:
        - status
      properties:
        status:
          type: string
    ModifyCategoryDto:
      type: object
      title: ModifyCategory
      properties:
        name:
          type:
            - string
            - "null"
      maxProperties: 1
    ModifyNodeDto:
      type: object
      title: ModifyNode
      properties:
        name:
          type:
            - string
            - "null"
        topicId:
          type:
            - string
            - "null"
          format: uuid
      maxProperties: 1
    ModifyTopicDto:
      type: object
      title: ModifyTopic
      description: Optional name field! If the name field is omitted, the existing
        name remains unchanged. If the name field is explicitly null, the name
        is cleared (unset). If a string value is provided, the name is updated
        to that value.
      properties:
        mqttTopic:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
      maxProperties: 1
    MqttStatusDto:
      type: object
      title: MqttStatus
      required:
        - connected
      properties:
        connected:
          type: boolean
    NodeDto:
      type: object
      title: Node
      required:
        - categoryId
        - id
        - name
        - topicId
      properties:
        categoryId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        name:
          type: string
        topicId:
          type: string
          format: uuid
    NodesDto:
      type: object
      title: Nodes
      required:
        - nodes
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/NodeDto"
    TopicDto:
      type: object
      title: Topic
      required:
        - id
        - mqttTopic
      properties:
        id:
          type: string
          format: uuid
        mqttTopic:
          type: string
        name:
          type:
            - string
            - "null"
    TopicsDto:
      type: object
      title: Topics
      required:
        - topics
      properties:
        topics:
          type: array
          items:
            $ref: "#/components/schemas/TopicDto"
    ValueDto:
      type: object
      title: Value
      required:
        - topicId
        - id
        - value
        - createdAt
      properties:
        createdAt:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        topicId:
          type: string
          format: uuid
        value:
          type: string
    ValuesDto:
      type: object
      title: Values
      required:
        - values
      properties:
        values:
          type: array
          items:
            $ref: "#/components/schemas/ValueDto"
tags:
  - name: Health
    description: Health API
  - name: Categories
    description: Categories API
  - name: Nodes
    description: Nodes API
  - name: Topics
    description: Topics API
  - name: Values
    description: Values API
  - name: MQTT
    description: MQTT API
  - name: WebSocket
    description: WebSocket API
